/* For screens of size 768px and below */
@media (max-width: 768px) {
    .chakra-modal__content-container  {
      display: block;
      width: 100% !important;
      height: 100% !important;
      position: fixed;
    }
    .chakra-modal__content-container .css-1mi7gtg{
        min-height: 100%;
        min-width: 100%;
    }
    .chakra-modal__overlay{
        width: 100% !important;
        height: 100% !important;
    }
}
  